header {
    border: 1px solid blue;
    text-align: center;
    margin-bottom: 25px;
}

nav {
    margin-bottom: 15px;
}

main {
    display: flex;
    line-height: 1.6;
    
}
#gameBoard {
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    width: 308px;
    height: 308px;
    margin: auto;
    flex-wrap: wrap;
}

.gameSlot {
    border: 1px solid black;
    min-width: 100px;
    height: 100px;
}

.gameTitleLabel {
    margin: 50px;
}

.center {
    text-align: center;
}

#playerOneHUD {
    text-align: center;
    border: 1px solid red;
    margin: auto;
}

#playerTwoHUD {
    text-align: center;
    border: 1px solid red;
    margin: auto;
}

#formContainer {
    display: none;
    position:fixed;
    left: 50%;
    border: 5px solid green;
    width: 300px;
    height: 300px;
    transform: translateX(-50%);
    background-color: grey;
    line-height: 2;
}

#newPlayerForm {
    display: block;
    position: absolute;
    top: 50%;
    left: 17%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

label {
    font-size: larger;
    font-weight: 650;
}

input {
    text-align: center;
}